<!DOCTYPE html>

<html>
  <head>
    <%- include('base/head.ejs') %>
    <link href="/css/intro.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('base/header.ejs') %>

    <div
      class="d-flex justify-content-center align-items-center"
      style="
        background: url(/image/company.png) center 0 no-repeat;
        background-size: cover;
        height: 440px;
      "
    >
      <div class="text-center text-white px-4">
        <h1 class="font-weight-bold mb-4">두나무 소개</h1>
        <h4>
          핀테크와 블록체인의 미래를 선도하는 두나무의 핵심 가치와 기업 정보를
          전합니다
        </h4>
      </div>
    </div>

    <div class="container mt-5 pt-5 pb-5">
      <div class="row justify-content-between">
        <div class="col-12">
          <div style="margin-bottom: 60px; line-height: 60px; font-size: 40px">
            서로 다른 것들을 연결해 새로운 가치를 창출하고<br />
            세상을 이롭게 하는 기술로 고객의 신뢰를 받는 두나무
          </div>
        </div>
        <div class="col-9">
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            증권 시장의 중심이 HTS에서 MTS로 옮겨갈 것이라 확신해 증권플러스를
            선보였습니다.
          </p>
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            블록체인의 혁신을 믿고 국내 최초의 모바일 앱 기반 디지털 자산 거래소
            업비트를 세상에 내보였습니다.
          </p>
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            변화의 기류를 포착하고, 가치 있는 대상의 거래를 누구보다 편리하고
            안전하게 기술로 연결하며 새로운 역사를 쓴 두나무는 이제,
          </p>
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            <strong
              >“세상에 없던 새로운 가치를 발굴하며 앞선 기술력으로 경계없는
              확장을 만들어 갑니다.”</strong
            >
          </p>
        </div>
        <div class="col-3 text-right">
          <img class="img-fluid" src="/image/logo2.png" alt="Logo" />
        </div>
        <div class="col-12 py-5 my-5">
          <hr />
        </div>
        <div class="col-12">
          <div style="margin-bottom: 60px; line-height: 60px; font-size: 40px">
            서로 다른 것들을 연결해 새로운 가치를 창출하고<br />
            세상을 이롭게 하는 기술로 고객의 신뢰를 받는 두나무
          </div>
        </div>
        <div class="col-9">
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            증권 시장의 중심이 HTS에서 MTS로 옮겨갈 것이라 확신해 증권플러스를
            선보였습니다.
          </p>
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            블록체인의 혁신을 믿고 국내 최초의 모바일 앱 기반 디지털 자산 거래소
            업비트를 세상에 내보였습니다.
          </p>
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            변화의 기류를 포착하고, 가치 있는 대상의 거래를 누구보다 편리하고
            안전하게 기술로 연결하며 새로운 역사를 쓴 두나무는 이제,
          </p>
          <p class="m-0" style="line-height: 34px; font-size: 18px">
            <strong
              >“세상에 없던 새로운 가치를 발굴하며 앞선 기술력으로 경계없는
              확장을 만들어 갑니다.”</strong
            >
          </p>
        </div>
        <div class="col-3 text-right">
          <img class="img-fluid" src="/image/logo.png" alt="Logo" />
        </div>
        <div class="col-12 pt-5 mt-5">
          <hr />
        </div>
      </div>
    </div>

    <%- include('base/footer.ejs') %> <%- include('base/script.ejs') %>
    <script src="/js/intro.js"></script>
  </body>
</html>
