<!DOCTYPE html>

<html>
  <head>
    <%- include('base/head.ejs') %>
    <link href="/css/login.css" rel="stylesheet" />
  </head>

  <body>
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />
      </div>
      <div>
        <label for="pw">Password:</label>
        <input type="password" id="pw" name="pw" required />
      </div>
      <button type="submit">Login</button>
    </form>

    <%- include('base/script.ejs') %>
    <script src="/js/login.js"></script>
  </body>
</html>
