<html>
  <body>
    <title>파일 업로드 하기</title>
    <h2>File Uploader</h2>
    <hr />
    <input type="file" value="파일 선택하기" name="file" id="uploadFile" />
    <input type="button" value="업로드" name="uploadButton" id="uploadB" />
    <h3 id="status"></h3>
  </body>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script>
    $(function () {
      let uploadImage = function () {
        const formData = new FormData();
        formData.append("file", $("#uploadFile")[0].files[0]);
        $.ajax({
          type: "POST",
          url: "/upload",
          data: formData,
          processData: false,
          contentType: false,
          success: function (data) {
            console.log("HIHI");
            $("#status").text("파일 업로드 성공");
          },
          error: function (data) {
            $("#status").text("파일 업로드 실패");
          },
        }).done(function (data) {
          console.log("HIHI");
          $("#status").text("파일 업로드 성공");
        });
      };

      $("#uploadB").click(function () {
        return uploadImage();
      });
    });
  </script>
</html>
