<footer class="text-center py-3">
  <address>Copyright &copy; 2023 ISMS Guardian</address>
</footer>

<template id="file-block">
  <div class="file-container d-inline-block mr-4">
    <div class="d-inline-flex justify-content-center align-items-center">
      <div
        class="file-container-name btn btn-link text-secondary p-0 m-0"
        style="cursor: pointer"
      ></div>
      <button
        type="button"
        class="remove-file-btn btn btn-sm btn-link text-danger m-0 p-0 ml-1"
        style="text-decoration: none"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</template>
